 <div class="row-fluid"> 
<div class="span4">
	<p>
		<h3>Pointe Medical</h3>
		1135 Kane Concourse, Third Floor
		Bay Harbor Islands, FL 33154
		Tel: <a href="tel:+13058651923">305-865-1923</a>
	</p>
</div>
</div>