 <!-- Jumbotron -->
      <div class="jumbotron">
        <h2>Providing Mental Healthcare</h2>
        <p class="lead">Our mission is to become strategic partners in a wide range of established or new mental healthcare businesses, by investing, providing experienced upper management and implementing improved business strategies, to ensure growth and success.</p>
      </div>

      <hr>

      <!-- Example row of columns -->
      <div class="row-fluid">
        <div class="span4">
          <h3>Financing</h3>
          <p></p>
        </div>
        <div class="span4">
          <h3>Cash Management</h3>
          <p></p>
        </div>
        <div class="span4">
          <h3>Business Development</h3>
          <p></p>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span4">
          <h3>Marketing</h3>
          <p></p>
        </div>
        <div class="span4">
          <h3>Real Estate</h3>
          <p>*Includes zoning permits</p>
        </div>
        <div class="span4">
          <h3>Opportunity and Risk Asssessment</h3>
          <p></p>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span4">
          <h3>Legal and Regulatory Consulting</h3>
          <p></p>
        </div>                                              
      </div>

      <hr>