%div.mission
	%h2 Mission
	%p Our mission is to become strategic partners in a wide range of established or new mental healthcare businesses, by investing, providing experienced upper management and implementing improved business strategies, to ensure growth and success. 

%div.services
	%h2 Services
	%ul
		%li Financing
		%li Cash Management
		%li Business Development
		%li Marketing
		%li Real Estate, including zoning and permits
		%li Opportunity and Risk Assessment
		%li Legal and Regulatory Consulting

%div.contact
	%h2
		Contact
	%p
		%a{:href=>"mailto:akorosi@pointecompanies.com"}
			akorosi@pointecompanies.com
	%p	
		Pointe Medical - 	
		1135 Kane Concourse, Third Floor -
		Bay Harbor Islands, FL 33154 - 
		Tel:
		%a{:href=>"tel:+13058651923"} 
			305-865-1923
