!!!
%html
	%head 
		%link(rel="stylesheet" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css")
		%link(rel="stylesheet" href="css/style.css")
		%title Pointe Medical 
	%body
		#wrapper
			#header
				#headerimg <img src="images/logo.gif">
			#content
				=yield

			#footer
				%p &copy; Pointe Medical 2013