html, body{
    margin:0;
    height:100%;
    width:100%;
    font-family: sans-serif;
    background-color: lightgrey;
}

#wrapper{  
    height: 100%;
    width:66%;  
    margin:auto;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
}  
  
#header{   
}  


#header>h1{  
    font-size:200%;  
} 

#content{
}

img{
    max-width:200px;
    height:auto;
} 
  
h2{  
    font-size:130%;  
}  
  
#content{  
    margin:12px 0;  
    float:left;  
}  
  
#side_bar{  
    margin:12px 0;  
    width :30%;  
    float:rightright;  
    clear:none;  
}  
  
h1{  
    font-size:150%;  
}  


#footer{  
    clear:both;
    position: absolute;
    bottom:0px;
    width: 100%;
    background-color:none;  
    font-size:75%;  
}  

.mission{
    padding-bottom: 20px;
}

.services{
    padding-bottom: 20px;
}

.contact{

    position: absolute;
    margin-bottom: 20px;
}

ol{  
    padding-top:20px;  
    background-color:#ade;  
    display:block;  
}  
  
li{  
 
}  
  
a{  

}  